**.Rproj.user
**.Rhistory
.RData
.Ruserdata
app/rsconnect/
app/www/.DS_Store
app/app.Rproj
config/.DS_Store
data/
**.DS_Store
renv/.DS_Store
renv/settings.dcf
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
renv/.gitignore
.Rproj.user
