.Rproj.user
.Rhistory
.RData
.Ruserdata
app/rsconnect/
app/www/.DS_Store
config/.DS_Store
data/
.DS_Store
crypt.Rproj
renv/.DS_Store
renv/settings.dcf
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/
